@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/*
. styles classes
# styles id s
h1 (example) styles all h1 elements
section > p  (Child selector) targets the child p elemtents of the Section. not the other p or descendand elements of the section
article p    (descendand selector) selects the descendands of the article <article> <header> <p>ddd</p> </header> <p>ddd</p> </article>
article header p selects only the p elements in the header
~ sibling selector   p ~ div selects all  div siblings after the p element   ( div div p div a div )
*/

html {
    scroll-behavior: smooth;
}
:root {
    --mainBGcolor: #a82757;
    --light-blue-green: #E5F9FF;
    --soft-peach: #F6D9C6;
    --muted-green: #D5EEB3;
    --pale-yellow: #FFFECF;
    --warm-pink: #F9C9BA;
    --soft-teal: #B9E8D4;
    --very-dark-color: #1A1A1A;
    --very-light-color: #FFFFFF;
}


.nav-link:hover {    
    font-style: italic;
    font-weight: bold;
}

#navigationbar {
    color: var(--mainBGcolor);
    font-weight: bolder;
    font-style: italic;
}
.body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    z-index: 2;
    
}

.bodyContainer {
    height: 50vh;
    background-color: rgb(80, 80, 80);
    background:
        radial-gradient(circle at 30% 107%, #ffffff 0%, #c2c2c2 5%, #424242 45%, #242424 60%, #000000 90%),
        radial-gradient(circle at 70% 50%, #e27a7a 0%, #7e4444 45%, #491919 60%, #2c0303 90%);
    background-size: 200% 200%;
    background-blend-mode: darken;
    -webkit-animation: CC24Animation 10s ease-in-out infinite;
    
}

#maintext {
    text-align: center;
    
    
}

/* Display 1 Text*/
.display-1 {
    color: var(--warm-pink);
    text-shadow: 0 2px 50px var(--very-light-color);
    transition: all 1s ease-in-out;
    
}

.display-1:hover {
    color: var(--very-light-color);
}

.display-1 code {
    color: #491919;
    padding: 6px;
    background-color: var(--light-blue-green);
    box-shadow: 8px 8px 10px #491919;
    border-radius: 10px;
    transition: all 1s linear;
}

.display-1 code:hover {
    background-color: var(--very-dark-color);
    color: var(--very-light-color);
    box-shadow: 8px 8px 10px var(--very-light-color);
}

.display-1 mark {
    background-color: var(--light-blue-green);
    background-repeat: no-repeat;
    background-clip: content-box;
}

/*Display 2 Text*/
.display-2 {
    color: var(--muted-green);    
    text-shadow: 0 2px 50px var(--very-light-color);
    transition: all 1s ease-in-out;
}

.display-2:hover {
    color: var(--very-light-color);
}

.display-2 code {
    padding: 6px;
    background-color: var(--soft-peach);
    box-shadow: 8px 8px 10px var(--mainBGcolor);
    border-radius: 10px;
    transition: all 1s linear;
}

.display-2 code:hover {
    background-color: var(--muted-green);
    color: var(--very-dark-color);
    box-shadow: 8px 8px 10px var(--very-dark-color);
}

.display-2 mark {
    background-color: var(--soft-peach);
    background-repeat: no-repeat;
    background-clip: content-box;
}


.list {
    color: var(--light-blue-green);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    margin: 0;
    padding: 1rem 0 1rem 0;

}

.form-label {
    color: rgb(104, 104, 104);
    
}

.form-control {
    max-width: 500px;
    
}

.whitetext {
    color: whitesmoke;
    text-align: center;
}
#white-text {
    color: whitesmoke;



}
.social-networks {

    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #2f2f2f;
}


#contact-form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin: 0 auto;
    max-width: 500px;
    
}

#contact-form * {
    color: #3c0647;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin-top: 30px;
    font-weight: bold;
    
}


#contact-form h1 {
    font-size: 32px;
    font-weight: bolder;
    line-height: 42px;
    text-align: center;
}

#contact-form label {
    display: block;
}

#contact-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#contact-form textarea {
    display: block;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#contact-form::placeholder {
    color: #e5e5e5;
}

#contact-form button {
    margin-top: 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #080710;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#contact-form textarea:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#contact-form button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    
}

#navbar {
    z-index: 4;
}

#footer {
    z-index: 4;
    position:sticky;
}



.img-fluid {
    
    position: relative;
    height: 300px;
    width: 300px;
    
}
@keyframes CC24Animation {
    0% {
        background-position: 0% 0%
    }

    25% {
        background-position: 100% 0%
    }

    50% {
        background-position: 100% 100%
    }

    75% {
        background-position: 0% 100%
    }

    100% {
        background-position: 0% 0%
    }
}
@media  screen and (max-width: 1200px) {

    #flipcard {
        display: none;
    }
}
@media  screen and (min-width: 1200px) {
    #dlbutton {
        display: none;
    }
}